<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="referrer" content="never" charset=UTF-8>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="http://xjccfile.pceggs.com:8080/xjyx/egg/css/root.css">
    <link rel="stylesheet" href="http://xjccfile.pceggs.com:8080/xjyx/egg/css/index.css">
    <!-- <link rel="stylesheet" href="http://xjccfile.pceggs.com:8080/xjyx/utils/nprogress/nprogress.css"> -->
    <script src="http://xjccfile.pceggs.com:8080/xjyx/utils/rem-750.js"></script>
</head>

<body>
    <div id="loading" class="loading">
        <div class="loading-center loading-content">
            <p>正在打扫蛋蛋庄园中...</p>
        </div>
    </div>
    <div id="app">
        <app></app>
    </div>

    <input type="hidden" id="userid" name="" value="28140992">
    <input type="hidden" id="ptype" name="" value="2">
    <input type="hidden" id="deviceid" name="" value="863049033556450">
    <input type="hidden" id="unix" name="" value="1571104543">
    <input type="hidden" id="token" name="" value="hws4akaa8aq7f78or8317ala5o6ir7ssgwlb87rd">
    <input type="hidden" id="keycode" name="" value="A30F46CCFF8574190D58AA0870295818">
    <input type="hidden" id="testuid" name="" value="28438830,28140992">
    <!-- <script src="http://xjccfile.pceggs.com:8080/xjyx/utils/nprogress/nprogress.js"></script> -->
    <script src="http://xjccfile.pceggs.com:8080/xjyx/utils/v2.6.1.min.js"></script>

</body>

</html>